<%= turbo_stream.update "content_songs" do %>
  <hr>
  <div class="m-3">
    <% if @songs.present? %>
      <p><%= t("input_labels.song_list", count: @songs.count, artist: params[:artist]) %></p>
      <div class="m-3">
        <% @songs.each do |song| %>
          <%= "#{song.title} (#{song.primary_artist.name})" %>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>
<%= turbo_stream.update "error_handling" do %>
  <% if @songs.blank? %>
    <div class="alert alert-secondary m-3" role="alert">
      <%= I18n.t("errors.no_songs") %>
    </div>
  <% end %>
  <%= render "layouts/loading" %>
<% end %>